@page "/dashboard"

<header class="d-flex align-items-center px-4 border-bottom">
	<img src="img/RedStrikeLogo.png" alt="Logo RedStrike" class="me-2" id="logo" />
	<p class="h3">RedStrike</p>
</header>

<div class="fluid-container p-0">
	<div class="row">
		<div class="col bg-success">
		fdfsdf
		</div>
		<div class="col bg-info">
		fdfsdf
		</div>
		<div class="col bg-warning">
		fdfsdf
		</div>
	</div>
</div>