<header class="d-flex align-items-center px-4 py-3 border-bottom">
    <img src="img/RedStrikeLogo.png" alt="Logo RedStrike" class="me-2" id="logo" />
    <h1 class="h3">RedStrike</h1>
</header>


@code {

}
